.form-wrapper {
  width: 600px;
}
#p {
  color: red;
   font-size: small;
   line-height:0%;
   }

h3 {
 line-height:0%; 
}
 li{
   list-style: none;
   padding:none;
}

.form li, .submit {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    margin-bottom: 5px;
}

.form > li > label {
  flex: 1 1 1px;
  max-width: 110px;
}

.form li button {
  color: #f2f2f2;
  border-radius: 2px;
 }
  
.form > li > label + *,
.form {
   padding: 5px;
   margin:5px;
  }
  
 .submit  {
   margin-left:70px;
   padding:5px;
 }
 
 textarea {
   width:200px;
   height:75px;
 }
 
 .input, .submit, textarea {
   border-radius:5px;
   border: 1px outset gray;
 }

 .figure {
  margin: -20px;
  background-color:#D45252; 
  width: 150px;
  padding: 24px; 
  color:white;
  font-size: 11px;
  text-align:right; 
  -webkit-clip-path: polygon(40% 41%, 40% 31%, 100% 31%, 100% 66%, 40% 66%, 40% 56%, 35% 48%);
  clip-path: polygon(40% 41%, 40% 31%, 100% 31%, 100% 66%, 40% 66%, 40% 56%, 35% 48%);
}

form input:required:invalid + .figure {visibility: visible}
form input:required:valid + .figure {background:rgb(103, 231, 103); visibility:visible}